.mi-alerta-personalizada {
    -fx-background-color: #6C8ED9;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.mi-alerta-personalizada .content-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.mi-alerta-personalizada .button {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.mi-alerta-personalizada .button:hover {
    -fx-background-color: #6C8ED9;
}
