.sidebar {
    -fx-background-color: #f8f8f8;
    -fx-padding: 20;
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: #444;
    -fx-font-size: 14px;
    -fx-alignment: CENTER_LEFT;
    -fx-pref-width: 160;
    -fx-padding: 10 15 10 15;
    -fx-spacing: 10;
    -fx-cursor: hand;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.sidebar-button:hover {
    -fx-background-color: #eaeaea;
}

.sidebar-button:selected,
.sidebar-button-active {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
}

/* Titulo Css */

.title-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-padding: 10 0 10 20;
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
}

/* Saludo */

.root {
    -fx-background-color: #ffffff;
    -fx-padding: 30;
}

.header-label-saludo{
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.title-label-saludo {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c2c2c;
    -fx-padding: 20 0 10 0;
}

.menu-item-label-saludo {
    -fx-font-size: 18px;
    -fx-text-fill: #555;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0.3, 2, 2);
    -fx-padding: 10 0 10 10;
}

.menu-item-label-saludo:hover {
    -fx-text-fill: #000;
    -fx-cursor: hand;
}

/* Buscar */

.boton-buscar {
    -fx-background-color: #3A3A3A;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 6 14;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}


.boton-buscar:hover {
    -fx-padding: 10 0 10 0; /* arriba, derecha, abajo, izq */
    -fx-background-color: #3A3A3A;
}

.label-busqueda {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-background-color: white;
    -fx-padding: 4 10;
    -fx-pref-height: 32px;
    -fx-alignment: center-left;
}


/* imagen */

.perfil-imagen {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0.3, 0, 2);
    -fx-padding: 10;
}


/* card preview */

.preview-card {
    -fx-background-color: #f9f9f9;
    -fx-padding: 15px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-spacing: 5;
}

/* vista inicio preview */

.vista-inicio {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-background-color: #ffffff;
}

.titulo-inicio {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font-family: "Segoe UI", sans-serif;
}

.subtitulo-inicio {
    -fx-font-size: 11px;
    -fx-text-fill: #666666;
    -fx-font-family: "Segoe UI", sans-serif;
}

.card-mini {
    -fx-background-color: #f7f7f7;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0, 0, 2);
}

.card-mini:hover {
    -fx-background-color: #eaeaea;
    -fx-cursor: hand;
}

.card-label {
    -fx-font-size: 10px;
    -fx-text-fill: #444;
}

.label-tipo {
    -fx-text-fill: #888;
    -fx-font-size: 12px;
    -fx-font-style: italic;
}

.label-valoracion {
    -fx-text-fill: #f39c12; /* color dorado para la estrella */
    -fx-font-weight: bold;
}


/*scroll pane */

.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 10;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}


